h1{color:pink;
font-family: 'Rock Salt', cursive;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
}
h2{
  color: grey;

}

a{
  color: grey;
 font-family: 'Karla', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    
    text-transform: uppercase;
    text-align: center;
}

p{
  color: white;
}


.navbarfooter{
  background-color: #5F6368;
  text-align: center;
  color: pink;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
    }


.avatar {
  vertical-align: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  align-content: center;
  border-style: solid;
  border-color: pink;
  margin-left: auto;

}

.circle{
  width: 200px;
  height: 2px;
  margin-left: auto;
  border-radius: 50%;
  font-family: 'Karla', sans-serif;
  float: right;

}



* {
  box-sizing: border-box;
}


.container {
  border-radius: 6px;
  background-color: pink;
  font-family: 'Karla', sans-serif;
}


.column {
  float: center;
  width: 50%;
  margin-top: 6px;
  padding: 25px;
   font-family: 'Karla', sans-serif;
}



